## Data from World Happiness Report

The World Happiness Report is an annual publication of the United Nations Sustainable Development Solutions Network. It contains articles, and rankings of national happiness based on respondent ratings of their own lives, which the report also correlates with various life factors.

In this notebook we will explore the happiness of different countries and the features associated.
The datasets that we will use are available in *Data*: **happiness2020.pkl** and **countries_info.csv**.

Although the features are self-explanatory, here a summary: 

**happiness2020.pkl**
* country: *Name of the country*
* happiness_score: *Happiness score*
* social_support: *Social support (mitigation the effects of inequality)*
* healthy_life_expectancy: *Healthy Life Expectancy*
* freedom_of_choices: *Freedom to make life choices*
* generosity: *Generosity (charity, volunteers)*
* perception_of_corruption: *Corruption Perception*
* world_region: *Area of the world of the country*

**countries_info.csv**
* country_name: *Name of the country*
* area: *Area in sq mi*
* population: *Number of people*
* literacy: *Literacy percentage*

In [60]:
!head Data/countries_info.csv

'head' n'est pas reconnu en tant que commande interne
ou externe, un programme ex�cutable ou un fichier de commandes.

In [61]:
import pandas as pd
%matplotlib inline

DATA_FOLDER = 'Data/'

HAPPINESS_DATASET = DATA_FOLDER+"happiness2020.csv"
COUNTRIES_DATASET = DATA_FOLDER+"countries_info.csv"

## Task 1: Load the data

Load the 2 datasets in Pandas dataframes (called *happiness* and *countries*), and show the first rows.


**Hint**: Use the correct reader and verify the data has the expected format.

In [71]:
# Write your code here
countries = pd.read_csv("Data/countries_info.csv", sep=',')
countries = pd.read_csv(COUNTRIES_DATASET, decimal=',')
happiness = pd.read_csv("Data/happiness2020.csv", sep=',')
countries

    country_name     area  population  literacy
0    afghanistan   647500    31056997      36.0
1        albania    28748     3581655      86.5
2        algeria  2381740    32930091      70.0
3      argentina  2766890    39921833      97.1
4        armenia    29800     2976372      98.6
..           ...      ...         ...       ...
130    venezuela   912050    25730435      93.4
131      vietnam   329560    84402966      90.3
132        yemen   527970    21456188      50.2
133       zambia   752614    11502010      80.6
134     zimbabwe   390580    12236805      90.7

[135 rows x 4 columns]

In [72]:
happiness

,country,happiness_score,social_support,healthy_life_expectancy,freedom_of_choices,generosity,perception_of_corruption,world_region
0,Afghanistan,2.5669,0.470367,52.590000,0.396573,-0.096429,0.933687,South Asia
1,Albania,4.8827,0.671070,68.708138,0.781994,-0.042309,0.896304,Central and Eastern Europe
2,Algeria,5.0051,0.803385,65.905174,0.466611,-0.121105,0.735485,Middle East and North Africa
3,Argentina,5.9747,0.900568,68.803802,0.831132,-0.194914,0.842010,Latin America and Caribbean
4,Armenia,4.6768,0.757479,66.750656,0.712018,-0.138780,0.773545,Commonwealth of Independent States
...,...,...,...,...,...,...,...,...
130,Venezuela,5.0532,0.890408,66.505341,0.623278,-0.169091,0.837038,Latin America and Caribbean
131,Vietnam,5.3535,0.849987,67.952736,0.939593,-0.094533,0.796421,Southeast Asia
132,Yemen,3.5274,0.817981,56.727283,0.599920,-0.157735,0.800288,Middle East and North Africa
133,Zambia,3.7594,0.698824,55.299377,0.806500,0.078037,0.801290,Sub-Saharan Africa
134,Zimbabwe,3.2992,0.763093,55.617260,0.711458,-0.072064,0.810237,Sub-Saharan Africa

## Task 2: Let's merge the data

Create a dataframe called *country_features* by merging *happiness* and *countries*. A row of this dataframe must describe all the features that we have about a country.

**Hint**: Verify that all the rows are in the final dataframe.

In [73]:
# Write your code here
happiness['country_name'] = happiness['country'].apply(lambda r: r.lower())
merged_data = happiness.merge(countries, on="country_name").drop("country_name", axis=1)
merged_data.head()

,country,happiness_score,social_support,healthy_life_expectancy,freedom_of_choices,generosity,perception_of_corruption,world_region,area,population,literacy
0,Afghanistan,2.5669,0.470367,52.590000,0.396573,-0.096429,0.933687,South Asia,647500,31056997,36.0
1,Albania,4.8827,0.671070,68.708138,0.781994,-0.042309,0.896304,Central and Eastern Europe,28748,3581655,86.5
2,Algeria,5.0051,0.803385,65.905174,0.466611,-0.121105,0.735485,Middle East and North Africa,2381740,32930091,70.0
3,Argentina,5.9747,0.900568,68.803802,0.831132,-0.194914,0.842010,Latin America and Caribbean,2766890,39921833,97.1
4,Armenia,4.6768,0.757479,66.750656,0.712018,-0.138780,0.773545,Commonwealth of Independent States,29800,2976372,98.6

## Task 3: Where are people happier?

Print the top 10 countries based on their happiness score (higher is better).

In [74]:
# Write your code here
merged_data.sort_values(by='happiness_score', ascending=False)[['country', 'happiness_score']].head(10)

         country  happiness_score
38       Finland           7.8087
31       Denmark           7.6456
115  Switzerland           7.5599
50       Iceland           7.5045
92        Norway           7.4880
87   Netherlands           7.4489
114       Sweden           7.3535
88   New Zealand           7.2996
6        Austria           7.2942
72    Luxembourg           7.2375

We are interested to know in what world region people are happier. 

Create and print a dataframe with the (1) average happiness score and (2) the number of contries for each world region.
Sort the result to show the happiness ranking.

In [75]:
# Write your code here
#data_grouped = merged_data.select_dtypes(include='number').groupby(merged_data.world_region)
#data_grouped.agg('mean').head()

data_grouped = merged_data.groupby("world_region")['happiness_score'].agg(['mean'])
data_grouped.sort_values("mean", ascending=False)

                                        mean
world_region
North America and ANZ               7.173525
Western Europe                      6.967405
Latin America and Caribbean         5.971280
Central and Eastern Europe          5.891393
Southeast Asia                      5.517788
East Asia                           5.483633
Commonwealth of Independent States  5.358342
Middle East and North Africa        5.269306
Sub-Saharan Africa                  4.393856
South Asia                          4.355083

The first region has only a few countries! What are them and what is their score?

In [76]:
# Write your code here
merged_data[merged_data.world_region=='North America and ANZ'][['country', 'happiness_score']]

           country  happiness_score
5        Australia           7.2228
21          Canada           7.2321
88     New Zealand           7.2996
127  United States           6.9396

## Task 4: How literate is the world?

Print the names of the countries with a level of literacy of 100%. 

For each country, print the name and the world region in the format: *{region name} - {country name} ({happiness score})*

In [77]:
# Write your code here
for idx, row in merged_data[merged_data.literacy==100].iterrows():
    print("{} - {} ({})".format(row.world_region, row.country, row.happiness_score))

North America and ANZ - Australia (7.222799778)
Western Europe - Denmark (7.645599842)
Western Europe - Finland (7.808700085)
Western Europe - Luxembourg (7.237500191)
Western Europe - Norway (7.487999916000001)

What is the global average?

In [79]:
# Write your code here
merged_data.literacy.mean()

81.85112781954888

Calculate the proportion of countries with a literacy level below 50%. Print the value in percentage, formatted with 2 decimals.

In [10]:
# Write your code here
percentage = len(merged_data[merged_data.literacy<50])/len(merged_data)
print("Percentage of countries with literacy level < 50%: {:.2%}".format(percentage))

Print the raw number and the percentage of world population that is illiterate.

In [95]:
# Write your code here
illet = merged_data.population/100 * (100 -merged_data.literacy)
illet_frac = illet.sum() / merged_data.population.sum()
illet.sum()
illet_frac

1249372988.1029997

## Task 5: Population density

Add to the dataframe a new field called *population_density* computed by dividing *population* by *area*.

In [96]:
# Write your code here
merged_data["population_density"] = merged_data['population']/merged_data['area']
merged_data.head()

,country,happiness_score,social_support,healthy_life_expectancy,freedom_of_choices,generosity,perception_of_corruption,world_region,area,population,literacy,population_density
0,Afghanistan,2.5669,0.470367,52.590000,0.396573,-0.096429,0.933687,South Asia,647500,31056997,36.0,47.964474
1,Albania,4.8827,0.671070,68.708138,0.781994,-0.042309,0.896304,Central and Eastern Europe,28748,3581655,86.5,124.587971
2,Algeria,5.0051,0.803385,65.905174,0.466611,-0.121105,0.735485,Middle East and North Africa,2381740,32930091,70.0,13.826065
3,Argentina,5.9747,0.900568,68.803802,0.831132,-0.194914,0.842010,Latin America and Caribbean,2766890,39921833,97.1,14.428413
4,Armenia,4.6768,0.757479,66.750656,0.712018,-0.138780,0.773545,Commonwealth of Independent States,29800,2976372,98.6,99.878255

What is the happiness score of the 3 countries with the lowest population density?

In [97]:
# Write your code here
merged_data.sort_values("population_density", ascending=True)

,country,happiness_score,social_support,healthy_life_expectancy,freedom_of_choices,generosity,perception_of_corruption,world_region,area,population,literacy,population_density
83,Mongolia,5.4562,0.937142,62.304485,0.693351,0.098094,0.863511,East Asia,1564116,2832224,97.8,1.810751
5,Australia,7.2228,0.944855,73.604538,0.915432,0.190460,0.415169,North America and ANZ,7686850,20264082,100.0,2.636201
14,Botswana,3.4789,0.779122,58.924454,0.821328,-0.250394,0.777931,Sub-Saharan Africa,600370,1639833,79.8,2.731371
50,Iceland,7.5045,0.974670,73.000000,0.948892,0.246944,0.711710,Western Europe,103000,299388,99.9,2.906680
79,Mauritania,4.3746,0.790819,57.010178,0.551523,-0.106008,0.746224,Sub-Saharan Africa,1030700,3177388,41.7,3.082748
...,...,...,...,...,...,...,...,...,...,...,...,...
80,Mauritius,6.1013,0.910358,66.404343,0.889535,-0.018319,0.805343,Sub-Saharan Africa,2040,1240827,85.6,608.248529
9,Bangladesh,4.8328,0.687293,64.503067,0.900625,-0.033665,0.661844,South Asia,144000,147365352,43.1,1023.370500
8,Bahrain,6.2273,0.876342,68.500000,0.905856,0.133729,0.739347,Middle East and North Africa,665,698585,89.1,1050.503759
78,Malta,6.7728,0.930380,72.199997,0.924911,0.214966,0.658547,Western Europe,316,400214,92.8,1266.500000
107,Singapore,6.3771,0.910269,76.804581,0.926645,0.029879,0.109784,Southeast Asia,693,4492150,92.5,6482.178932

## Task 6: Healty and happy?

Plot in a scatter plot the happiness score (x) and healty life expectancy (y).

In [100]:
# Write your code here
merged_data.plot(x="happiness_score", y="healthy_life_expectancy", kind="scatter")

Feel free to continue the exploration of the dataset! We'll release the solutions next week.

----
Enjoy EPFL and be happy, next year Switzerland must be #1.